*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 100%;
    background: url(pic1.jpg) no-repeat;
    background-size: cover;
}
.input-group input::placeholder, .input-group button{
    font-size: small;
}
.input-group button:hover{
    background-color: rgb(235, 28, 62);
    transition: all 0.5s ease;
}
.nav-item a{
    font-size: small;
    border-right: 0.5px black solid;
}
#collapsibleNavbar .navbar-nav li:nth-child(4){
    background-color: rgb(235, 28, 62);
} 
.navbar-nav li:nth-child(n):hover{
    background-color: rgb(235, 28, 62);
    transition: all 0.5s ease;
} 
#sec .nav-item a i{
    font-size: 1.1rem;
}
#sec li:nth-child(1) a{
    border-left: 0.5px black solid;
}
.next{
    background-color: gainsboro;
}
.next .btn{
    font-size: small;
    color: #000;
    text-decoration: none;
    padding: 10px 45px;
    display: inline-block;
    margin-top: 20px;
    border: 2px rgb(235, 28, 62) solid;
    overflow: hidden;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease;
} 
.next .btn::before{
    background: rgb(235, 28, 62);
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: -1;
    transition: all 0.3s ease;
}
.next .btn:hover::before{
    height: 280%;
}
.next .btn:hover{
    color: white;
}
.next .col-lg-9 h2:hover, small.mr-4:hover{
    cursor: pointer;
    color: rgb(235, 28, 62);
}
.next .col-lg-3 i{
    font-size: 1.5rem;
    cursor: pointer;
}
.next .col-lg-9 i{
    cursor: pointer;
}
hr{
    border: 0.5px solid white;
}
.ad img{
    background-color: rgba(247, 243, 243, 0.89);
}
.ad img:hover{
    cursor: pointer;
    background-color: rgb(235, 229, 229);
}
.tags li{
    background-color: black;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.tags li:nth-child(1){
    background-color: rgb(235, 28, 62);
}
.tags li:hover{
    background-color: rgb(235, 28, 62);
}
.tags a{
    text-decoration: none;
    color: white;
    font-size: small;
}
.news input::placeholder{
    font-size: small;
}
.page-footer{
    padding: 50px;
    margin-bottom: 0;
}